@import './themes/Light.css';
@import './themes/Dark.css';

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--bg, #111);
  transition: background-color 0.4s ease-in-out;
}

.App {
  text-align: center;
  max-width: 720px;
  margin: 0;
}

.App header {
  background-color: var(--header);
  border-radius: 0px 20px 20px 0px;
  height: 50px;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 720px;
  top: 0;
  display: flex;
  align-items: center;
  /* justify-content:space-between; */
  z-index: 99;
  padding: 0px 0px;
  padding-left: 0px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.95); 
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.95);
}

h1 {
  color: var(--text);
  margin: 0 5%;
}

header h2 {
  color: var(--text);
  margin-left: 5px;
}

header button {
  right: 0px;
  position: absolute;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  /* background-color: rgb(0, 0, 0); */
}

h1.loading {
  filter: grayscale(100);
}

main {
  padding: 10px;
  height: 100vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #3f3dad;
}

form {
  height: 50px;
  min-height: 50px;
  border-radius: 0px 20px 20px 0px;
  position: fixed;
  bottom: 0;
  background-color: var(--header);
  width: 100%;
  max-width: 720px;
  display: flex;
  font-size: 1.5rem;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.95); 
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.95);
}

button {
  background-color: var(--button);
  width: 30%;
  border: none;
  color: var(--button-text);
  border-radius: 0px 20px 20px 0px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  height: 100%;
}

form button {
  width: 30%;
  padding-left: -20px;
  padding-right: 15px;
}

input {
  background: var(--header);
  color: var(--text);
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  outline: none;
  border: none;
  padding: 0 10px;
  margin-left: 5px;
}

.sign-in {
  width: 55%;
  max-width: 55%;
  align-self: center;
  border-radius: 20px 20px 20px 0px;
}

button:focus {
  outline: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

ul, li {
  text-align: left;
  list-style: none;
}

p {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  min-width: 1vw;
  max-width: 70vw;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 0px;
  line-height: 20px;
  padding: 10px;
  border-radius: 20px 20px 20px 0px;
  position: relative;
  color: white;
  text-align: left;
}

.messageWindow {
  /* background-color: #000000; */
  height: calc(100vh - 100px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.message {
  display: flex;
  align-items: center;
}

.sent,
.read {
  flex-direction: row-reverse;
  padding: 0px;
}

.sent p,
.read p {
  color: #b1c9db;
  background: #135c91;
  border-radius: 20px 20px 0px 20px;
  align-self: flex-end;
}
.received p {
  background: #cedce6;
  color: black;
}
.read p {
  color: white;
  background: #0d81d4;
}

.fromsystem p {
  color: #999cb4;
  width: 100vw;
  max-width: 100vw;
  text-align: center;
  background: none;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
  z-index: 9;
}

.messageimage {
  cursor: pointer;
}

img {
  filter: grayscale(var(--image-filter)) brightness(calc(100% - (var(--image-filter) / 2)));
  -webkit-filter: grayscale(var(--image-filter)) brightness(calc(100% - (var(--image-filter) / 2)));
  transition: filter 1s;
}

.logo {
  width: 50%;
  height: auto;
  border-radius: 0;
  margin: 10%;
  align-self: center;
}

img.seen {
  width: 14px;
  height: 14px;
  align-self: flex-end;
  margin: 0px;
  margin-bottom: 3px;
  padding: 0;
}

.sent img.seen,
.received img.seen,
.fromsystem img.seen {
  display: none;
}

.fromsystem img {
  display: none;
}
